---
import Layout from '../layouts/Layout.astro';
import Room from '../components/Room';
---

<Layout title="Welcome to Astro.">
  <main id="app">
    <Room client:load />
  </main>
</Layout>

<style>
  main#app {
    @apply flex h-full w-full justify-center;
  }
</style>
