---
import Layout from '../layouts/Layout.astro';
import Room from '../components/Room';
import VideoGrid from '../components/VideoGrid';
---

<Layout title="Welcome to Astro.">
  <main id="app">
    <Room client:load />
    <VideoGrid client:load />
  </main>
</Layout>

<style>
  main#app {
    @apply container mx-auto flex h-full w-full items-center flex-col;
  }
</style>