---
import Layout from '../layouts/Layout.astro';
import Room from '../components/Room';
import VideoGrid from '../components/VideoGrid';
import Tabs from '../components/Tabs/Tabs';
---

<Layout title="Welcome to Astro.">
  <main id="app">
    <div class="media">
      <Room client:load />
      <VideoGrid client:load />
    </div>

    <Tabs client:load />
  </main>
</Layout>

<style>
  main#app {
    @apply flex flex-row h-full w-full items-center;
  }

  .media {
    @apply h-full flex flex-col flex-1 bg-indigo-900;
  }
</style>